/*CUSTOM css override bootstrap*/
/* Sticky footer styles
-------------------------------------------------- */
html{
    position: relative;
    min-height: 100%;
}
body{
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.container .text-muted{
    margin: 20px 0;
}
/*END STICKY footer*/
/* nav bar styles
-------------------------------------------------- */

/*END nav bar*/

p#top{
    margin-top: 70px;
}
p{
    max-width: 500px;
    margin: 20px 10px;
}



/*TEST XML LIST=======================================================================================================================================================================================================================================================================================================================*/
ul#carsul{
    margin-top: 70px;
    max-width: 500px;
}
/*END TEST======================================================================================*/


@media screen and (min-width:768px){
    .navbar-nav{
        float: right;
    }
    p{
        margin: 20px auto;
    }
    
    ul#carsul{
        margin: 20px auto;
    }
}